*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #cd486b, #fbad50, #cd486b, #4c68d7);
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    width: 83%;
    height: 90%;
    border: 1.5px solid #391734;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(185, 185, 185, .1);
    backdrop-filter: blur(5px);
    border-radius: 22px;
}
header .header2{
    position: relative;
    width: 98%;
    height: 95%;
    background: url('image/example.jpg')no-repeat center center/cover;
    border-radius: 20px;
    overflow: hidden;
}
header .header2 nav{
    width: 90%;
    height: 12%;
    /* border: 1px solid #fff; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .header2 nav .brand{
    width: 15%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}
header .header2 nav ul{
    width: 70%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header2 nav ul li{
    list-style: none;
    padding: 3px 10px;
}

header .header2 nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

header .header2 nav ul li a:hover{
    color: #bf369a;
    text-shadow: 0px 0px 28px #bf369a;
}

header .header2 nav .station{
    width: 15%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* logo desgin */
header .header2 nav .brand img{
    width: 150px;
    height: 60px;
}

header .header2 nav .station button{
    padding: 6px 12px;
    background: none;
    color: #c0ebde;
    border: 1px solid #c0ebde;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px 0px 0px 0px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
header .header2 nav .station button:hover{
    border-radius: 0px 10px 0px 10px;
    box-shadow: inset 0px 0px 30px #00f1a8;
    border: 1px solid #00f1a8;
    color: #00f1a8;
}

section{
    width: 90%;
    height: 85%;
    /* border: 1px solid #fff; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
section .content{
    width: 350px;
    height: auto;
    /* border: 1px solid #fff; */
    color: #fff;
}
section .content h1{
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 38px;
}

section .content p{
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;

}
section .content button{
    padding: 5px 12px;
    border: 1px solid #00f1a8;
    margin-top: 20px;
    border-radius: 20px;
    background: #00f1a8;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
section .content button:hover{
    background: transparent;
    color: #bf369a;
}
footer{
    position: absolute;
    width: 90%;
    height: -50%;
    bottom: -50px;
    border: 1px solid #000;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease-in-out;
}

footer li{
    color: #fff;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 0px 20px #00f1a8;
}
/* java is here  */
.footer{
    bottom: 0px;
}
.clicks{
    text-shadow: 0px 0px 20px #00f1a8;
}
@media (max-width: 1500px) {
    
}



